.voice-player-card {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: transparent;
    width: 75%;
    margin: 0;
    position: absolute;
}

.player-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.controls-waveform-container {
    display: flex;
    align-items: center;

}

.controls {
    margin-right: 16px; /* Space between button and waveform */
}

.play-pause-button {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.waveform-container {
    flex: 1;
    height: 20px;
}

.timer {
    text-align: left;
    font-size: 16px;
    color: white;
    margin-right: 16px;
}
