/* DropdownMenu.css */
.dropdown-menu {
    display: none;
    position: absolute; /* Changed from absolute to fixed */
    bottom: 0px;
    left: 470px;
    transform: translate(-50%, -50%); /* Center the menu */
    background-color: #555 !important;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure it's on top of other elements */
    border-radius: 8px;
    width: 200px; /* Set a fixed width */
    max-height: 300px; /* Optional: limit the height */
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  /* Backdrop */
  .dropdown-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Positioned behind the dropdown menu */
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-backdrop.show {
    display: block;
  }
  
  .dropdown-item {
    color: white !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
    color: black !important;
  }
  