.forgotten-password-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column ;
    align-items: left;
    width: 500px;
    height: 400px;
  }
  
  .forgotten-password-input,
  .forgotten-password-button {
    max-width: 500px;
  }
  
